<a href="https://colab.research.google.com/github/aurimas12/Practice-task/blob/main/post_job_crawler.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [113]:
import requests
from bs4 import BeautifulSoup

In [114]:
url='https://www.cvbankas.lt'
page=requests.get(url)
soup=BeautifulSoup(page.content,'html.parser')

In [116]:
posts=soup.find_all('article')
post_counts=len(posts)

In [83]:
sallary=posts[2].find('span', class_="salary_amount").text 
title=posts[2].find('h3', class_="list_h3").text
image_src=posts[2].find('img')['src'] 
city=posts[2].find('span', class_="txt_list_1").text
post_date=posts[2].find('span', class_="txt_list_2").text
company=posts[2].find('span', class_="dib mt5").text
post_link=posts[2].find('a',href=True)['href']
sallary_type=posts[2].find('span', class_="salary_calculation").text
post_id=posts[2].find('div', class_="jobadlist_ad_anchor")['id']

'jobad_9403953'

In [129]:
def try_sallary_amount(post):
  amount=''
  try:
    amount=post.find('span', class_="salary_amount").text 
  except:
    amount=None
  return amount

def try_sallary_calculation(post):
  calc=''
  try:
    calc=post.find('span', class_="salary_calculation").text
  except:
    calc=None
  return calc

def try_post_date(post):
  post_date=''
  try:
    post_date=post.find('span', class_="txt_list_2").text 
  except:
    post_date=None
  return post_date

In [136]:
post_list=[]

for i in posts:
  post_date=try_post_date(i)
  sallary=try_sallary_amount(i)
  sallary_calc=try_sallary_calculation(i)

  title=i.find('h3', class_="list_h3").text
  img_src=i.find('img')['src'] 
  city=i.find('span', class_="txt_list_1").text
  company=i.find('span', class_="dib mt5").text
  post_link=i.find('a',href=True)['href']
  post_id=i.find('div', class_="jobadlist_ad_anchor")['id']



  post_data={
      'id':post_id,
      'title':title,
      'company':company,
      'city':city,
      'post_link':post_link,
      'image_src':img_src,
      'sallary':sallary,
      'sallary_calc':sallary_calc,
      'post_date':post_date
  }
  post_list.append(post_data)
len(post_list)

83

In [140]:
post_list[11]

{'id': 'jobad_9324654',
 'title': 'Pardavimų vadybininkas (-ė)',
 'company': 'UAB „NoriuNoriuNoriu“',
 'city': 'Vilniuje',
 'post_link': 'https://www.cvbankas.lt/pardavimu-vadybininkas-e-vilniuje/1-9324654',
 'image_src': 'https://cvbankas-img.dgn.lt/companylogo_2_21027136/noriunoriunoriu.jpg',
 'sallary': '1200',
 'sallary_calc': 'Į rankas',
 'post_date': 'prieš 2 d.'}